 #idcheck
                       {font-family: "Gill Sans", sans-serif;font-size: 20px; color: lightgreen text-align left !important}

 .classcheck 
                       {
                       	  text-align: left;color: red !important
                       }
 body { background-image: url(html.png);
 	    background-size: cover;
 	    background-attachment: fixed;
        
        }

 img {
 	    float: left;
 }


         p {font-size: 60px; color: lightgreen;padding: 40px; margin: 50px }
 